@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h3 {
    color: #303030;
}

#header {
    background-color: #181821;
    height: 60vh;
    text-align: center;
    color: #fff;
    padding-top: 2%;
}

.container {
    width: 70%;
    margin: auto;
    /* background-color: rgb(240, 173, 173); */
}

.container-2 {
    width: 90%;
    margin: auto;
    
}

.container-2 h1 {
    margin-bottom: 2.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15%;
}

nav.sticky {
    padding: 15px 0;
    background-color: #181821;
}

/* .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
} */

.logo-img {
    width: 80%;
}

/* .nav-link a {
    text-decoration: none;
    margin-left: 4rem;
    color: #fff;
    font-size: 0.8rem;
} */

nav .mainMenu {
    display: flex;
    list-style: none;
    
}

nav .mainMenu li a {
    display: inline;
    margin: 2rem 0 0 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
}

nav .mainMenu li a:hover {
    text-decoration: underline;
}

nav .openMenu {
    font-size: 1.5rem;
    /* margin: 20px; */
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.hero {
    margin: auto;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 2%;
    line-height: 1.5;
    color: #fff;
}

.hero h3 {
    font-size: 1.2rem;
    line-height: 1.8;
    color: rgb(219, 219, 219);
    font-weight: 400;
    width: 80%;
    margin: auto;
}

.hero p {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(223, 223, 223);
}

/* project section */

#project {
    margin-top: 3%;
}

#project h1 {
    margin-bottom: 2.5rem;
}

.boxes {
    display: flex;
    margin-bottom: 7%;
}

.box p {
    margin-top: 1rem;
    width: 90%;
    line-height: 1.5;
}

.box h3 {
    margin-top: 1rem;
}

.box-title {
    width: 20%;
    margin-top: 1.3rem;
}

.sm-logo {
    width: 15%;
}

.card-img {
    width: 95%;
    border-radius: 1%;
}

/* Personal */

#personal {
    margin-top: 8rem;
    background-color: #ececec4f;
    padding: 3rem 0;
}

#personal h1 {
    margin-bottom: 2.5rem;
}

/* Visual Experiment */

#visual-experiment {
    /* margin-top: 8rem; */
    background-color: #4d92ca1a;
    padding: 2rem 0;
}

.small-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.red-desktop {
    display: block;
}

.red-mobile {
    display: none;
}

.sm-box {
    flex-basis: 24%;  
}

.sm-box-img {
    width: 100%;
    border-radius: 0.2rem;
}

/* contact */

#contact {
    padding: 2rem 0 5rem 0;
}

#contact h1 {
    margin-bottom: 2rem;
}

.contact-details a {
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #303030;
    
}

.contact-details {
    margin-top: 2rem;
}

/* footer */
#footer {
    background-color: black;
    color: #fff;
    padding: 1rem 0;
}