@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(dev-img/dark-blue-abstract.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

a {
    color: greenyellow;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

p, li {
    color: rgb(219, 219, 219);
}



.technical {
    margin-top: 2rem;
}
.image-cont {
    width: 800px;
    margin: auto;
}

.fa-angle-right, .fa-angle-left {
    font-size: 40px;
    color: crimson;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-weight: 600;
}

ul {
    margin-left: 2rem;
}

li {
    margin-bottom: 1rem;
}

@media (max-width:1100px ) {
    .container {
        width: 85%;
    }
    .image-cont {
        width: 600px;
        margin: auto;
    }
    .heading {
        font-size: 1.3rem;
    }
    
    h2 {
        font-size: 26px;
    }
    h3 {
        font-weight: bold;
        font-size: 22px;
    }
    h4 {
        font-size: 22px;
    }
}
@media (max-width:767px ) {
    .container {
        width: 90%;
    }
    .image-cont {
        width: 100%;
        margin: auto;
    }
    .heading {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 24px;
    }
    h3 {
        font-weight: bold;
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
}
@media (max-width:480px ){
  
}
@media (max-width:576px ) {
    .container {
        width: 90%;
    }

    .heading {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 20px;
    }
    h3 {
        font-weight: bold;
        font-size: 16px;
    }
    h4  {
        font-size: 16px;
    }
}
@media (max-width:376px ) {
    .container {
        width: 100%;
    }

    .heading {
        font-size: 1rem;
    }

    h2 {
        font-size: 16px;
    }
    h3 {
        font-weight: bold;
        font-size: 16px;
    }
    h4  {
        font-size: 14px;
    }
    p, li {
        font-size: 14px;
    }
}